<div class="basic-grey">
    <h1><%= t 'welcome' %></h1>
    <p><%= l Time.now, format: :short %></p>

    <ul>
        <li><%= link_to t('buttons.contact'), contacts_path %></li>
        <li><%= link_to t('buttons.kind'), kinds_path %></li>
        <li><%= link_to t('buttons.address'), addresses_path %></li>
        <li><%= link_to t('buttons.phone'), phones_path %></li>
    </ul>
</div>