<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <h1><%= @contacts.model_name.human(count: @contacts.count) %></h1>
  
  <%= link_to t('buttons.newContact'), new_contact_path %>
  <table>
    <thead>
      <tr>
        <th><%= @contacts.human_attribute_name("name") %></th>
        <th><%= @contacts.human_attribute_name("kind") %></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.kind.description %></td>
          <td><%= link_to t('buttons.show'), contact %></td>
          <td><%= link_to t('buttons.edit'), edit_contact_path(contact) %></td>
          <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= paginate @contacts %>
</div>