<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @contact.email %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= @contact.kind.description %>
  </p>

  <p>
    <strong>Rmk:</strong>
    <%= @contact.rmk %>
  </p>

  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Back', contacts_path %>
</div>