<h1><%= "#{t('messages.addressEdit')} #{@address.contact.name}" %></h1>
<%= render 'form', address: @address %>

<%= link_to t('buttons.show'), @address %> |
<%= link_to t('buttons.back'), addresses_path %>
