<p id="notice"><%= notice %></p>

<h1><%= @addresses.model_name.human(count: @addresses.count) %></h1>

<table>
  <thead>
    <tr>
      <th><%= @addresses.human_attribute_name("street") %></th>
      <th><%= @addresses.human_attribute_name("city") %></th>
      <th><%= @addresses.human_attribute_name("state") %></th>
      <th><%= @addresses.human_attribute_name("contact") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.contact.name %></td>
        <td><%= link_to t('buttons.show'), address %></td>
        <td><%= link_to t('buttons.edit'), edit_address_path(address) %></td>
        <td><%= link_to t('buttons.destroy'), address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.newAddress'), new_address_path %>
