<p id="notice"><%= notice %></p>

<h1><%= "#{t('messages.address')} #{@address.contact.name}" %></h1>
<p>
  <strong><%= t 'words.street' %></strong>
  <%= @address.street %>
</p>

<p>
  <strong><%= t 'words.city' %></strong>
  <%= @address.city %>
</p>

<p>
  <strong><%= t 'words.state' %></strong>
  <%= @address.state %>
</p>

<p>
  <strong><%= t 'words.contact' %></strong>
  <%= @address.contact.name %>
</p>

<%= link_to t('buttons.edit'), edit_address_path(@address) %> |
<%= link_to t('buttons.back'), addresses_path %>
